.sideBar:first-child,
.sideBar:nth-child(3) {
  border-bottom: var(--borderLine);
  padding-bottom: 8px;
}
.sideBar-list {
  padding: 15px 0;
  display: flex;
  align-items: center;
}
.sideBar-list:hover {
  background-color: var(--darkBtnHover);
  border-radius: var(--navBorderRadius);
}

.sideBar-list p,
i {
  color: var(--textIconColor);
}

.sideBar-list p {
  margin-left: 10px;
}
.sideBar-title {
  margin: 15px 0;
  font-weight: 600;
  color: var(--titleTextColor);
}

.leftSideBar-img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
