@import "reset.css";
@import "variable.css";

/* screen */
@import "screen/login.css";
@import "screen/index.css";

/* componet */
@import "component/nav.css";
@import "component/darkBtn.css";
@import "component/leftSideBar.css";
@import "component/rightSideBar.css";
@import "component/centerBar.css";
@import "component/post.css";
@import "component/postModal.css";

/* font-family */
@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
body {
  background-color: var(--background);
}

.unshowing {
  display: none;
}

#index-main {
  background-color: var(--background);
  padding: 20px 8px;
}

.hidden {
  display: none;
}
